<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tobacco.mapper.TokenBlacklistMapper">

    <resultMap id="BaseResultMap" type="com.tobacco.entity.TokenBlacklist">
        <id column="id" property="id"/>
        <result column="token" property="token"/>
        <result column="token_type" property="tokenType"/>
        <result column="username" property="username"/>
        <result column="expire_time" property="expireTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="countByToken" resultType="java.lang.Long">
        SELECT COUNT(*) FROM token_blacklist WHERE token = #{token}
    </select>
</mapper>
