selenium==4.15.2
webdriver-manager==4.0.1
opencv-python==4.8.1.78
pytesseract==0.3.10
Pillow==10.1.0
PyYAML==6.0.1
requests==2.31.0
PyMuPDF==1.23.7
psutil==5.9.6
numpy==1.24.3
tqdm==4.66.1
multiprocessing-logging==0.3.4
