MAERSK_USERNAME=
MAERSK_PASSWORD=

COSCO_USERNAME=
COSCO_PASSWORD=

CMA_USERNAME=
CMA_PASSWORD=

HAPAG_USERNAME=
HAPAG_PASSWORD=

MSC_USERNAME=
MSC_PASSWORD=

FREIGHTOS_USERNAME=
FREIGHTOS_PASSWORD=

XENETA_USERNAME=
XENETA_PASSWORD=

LOG_LEVEL=info
